<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="689d9d">  <td>20/01/20 11:31:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Login_App()[pri:0, instance:Browser_Lanuch.Login@740773a3]">Login_App</td> 
  <td>main@1239183618</td>   <td></td> </tr>
<tr bgcolor="a9e4eb">  <td>20/01/20 11:31:25</td>   <td>-15762</td> <td>&nbsp;</td><td title="&gt;&gt;Browser_lanuch.testEasy()[pri:0, instance:Browser_Lanuch.Login@740773a3]">&gt;&gt;testEasy</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1239183618</td>   <td></td> </tr>
</table>
