<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9eceb0">  <td>20/01/20 16:06:03</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Browser_lanuch.Browser_Config()[pri:0, instance:Browser_Lanuch.Browser_lanuch@3cc1435c]">&gt;&gt;Browser_Config</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1607792885</td>   <td></td> </tr>
<tr bgcolor="d3e762">  <td>20/01/20 16:06:23</td>   <td>20407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.Login_App()[pri:0, instance:Browser_Lanuch.Login@6bf0219d]">Login_App</td> 
  <td>main@1607792885</td>   <td></td> </tr>
<tr bgcolor="d3e762">  <td>20/01/20 16:06:48</td>   <td>44999</td> <td>&nbsp;</td><td title="&lt;&lt;Login.endTest()[pri:0, instance:Browser_Lanuch.Login@6bf0219d]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1607792885</td>   <td></td> </tr>
</table>
